name: Trigger sonar analysis

on:
  push:
    branches: [ master ]

# env:
#   SONAR_URL: https://sonarcloud.io
#   SONAR_ORGANIZATION: telecominfraproject
#   MAVEN_OPTS: -Xmx3g -Xss2m # prevents java.lang.StackOverflowError

jobs:
  sonar:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
      with:
        ref: master
    # - name: Run sonar
    #   working-directory: wlan-cloud-services/${{ github.event.client_payload.project }}
    #   env:
    #     # MAVEN_REPO_USERNAME: build-pipeline
    #     MAVEN_REPO_USERNAME: tip-read
    #     MAVEN_REPO_PASSWORD: ${{ secrets.MAVEN_REPO_PASSWORD }}
    #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    #   run: mvn sonar:sonar -Dsonar.host.url=${{ env.SONAR_URL }} -Dsonar.login=${{ secrets.SONAR_LOGIN }} -Dsonar.organization=${{ env.SONAR_ORGANIZATION }} -Dsonar.projectKey=${{ github.event.client_payload.project }}
    - name: Trigger sonar analysis
      # env:
      #   GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        printenv

        echo URL "https://api.github.com/repos/${GITHUB_REPOSITORY}/dispatches"

        for project in alarm-datastore-cassandra alarm-datastore-common-test; do
          echo "Triggering sonar analysis for project ${project}"

          curl -s --location --request POST "https://api.github.com/repos/${GITHUB_REPOSITORY}/dispatches" \
          --header "Authorization: Bearer ${{ secrets.TOKEN }}" \
          --header "Content-Type: application/json" \
          --data-raw "{
              \"event_type\": \"matrix-sonar\",
              \"client_payload\": {
                \"project\": \"${project}\"
              }
          }"

        done